img {
    width: 15%;
    height: 10%;
}
body {
    color: blueviolet;
}

h1 {
    background-color: blueviolet;
    color: white;
}
h1 {
    width: 330px;
}

button {
    color: white;
    background-color: blueviolet;
}
label {
    margin-bottom: 30px;
}